@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Welcome Sinem </h1><br />
   <h2>@ViewData["Message"]</h2> 
=======
    <h1 class="display-4">Welcome Sinem </h1>
>>>>>>> 5794a1d841780e8361b0716cf2097028d2cc8c9f
</div>
